{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "standard",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": [2, "always"],
    "no-console": 0,
    "no-unused-vars": 0,
    "react/display-name": 0,
    "react/prop-types": 0,
    "react/no-multi-comp": 0,
    "no-multi-spaces": 0,
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "prefer-const": 2,
    "no-const-assign": 2,
    "no-param-reassign": 2,
    "no-var": 2,
    "object-shorthand": 2,
    "prefer-template": 2,
    "require-jsdoc": [1, { "require": { "FunctionDeclaration": true, "MethodDefinition": true, "ClassDeclaration": true } }],
    "func-style": [2, "expression"],
    "prefer-arrow-callback": 1,
    "arrow-spacing": [2, { "before": true, "after": true }],
    "no-dupe-class-members": 2,
    "dot-notation": 1
  }
}
