<div id='list-inner'>
  <table>
  {{#each data.models}}
    <tr>
      <td>{{attributes.Date}}</td>
      <td>{{attributes.Description}}</td>
      <td>{{attributes.Value}}</td>
    </tr>
  {{/each}}
  </table>
</div>
<input type='text' id='search-list' value='{{searchValue}}' />
