/* Collection default theme */

._node_modules_react_virtualized_styles__Collection {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  /* Without this property, Chrome repaints the entire Collection any time a new row or column is added.
     Firefox only repaints the new row or column (regardless of this property).
     Safari and IE don't support the property at all. */
  will-change: transform;
}

._node_modules_react_virtualized_styles__Collection__innerScrollContainer {
  box-sizing: border-box;
  overflow: hidden;
}

._node_modules_react_virtualized_styles__Collection__cell {
  position: absolute;
}

/* Grid default theme */

._node_modules_react_virtualized_styles__Grid {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  /* Without this property, Chrome repaints the entire Grid any time a new row or column is added.
     Firefox only repaints the new row or column (regardless of this property).
     Safari and IE don't support the property at all. */
  will-change: transform;
}

._node_modules_react_virtualized_styles__Grid__innerScrollContainer {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

._node_modules_react_virtualized_styles__Grid__cell {
  position: absolute;
}

/* FlexTable default theme */

._node_modules_react_virtualized_styles__FlexTable {
}

._node_modules_react_virtualized_styles__FlexTable__Grid {
  overflow-x: hidden;
  box-sizing: border-box;
}

._node_modules_react_virtualized_styles__FlexTable__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}
._node_modules_react_virtualized_styles__FlexTable__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

._node_modules_react_virtualized_styles__FlexTable__headerTruncatedText {    
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

._node_modules_react_virtualized_styles__FlexTable__headerColumn,
._node_modules_react_virtualized_styles__FlexTable__rowColumn {
  margin-right: 10px;
  min-width: 0px;
}
._node_modules_react_virtualized_styles__FlexTable__rowColumn {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._node_modules_react_virtualized_styles__FlexTable__headerColumn:first-of-type,
._node_modules_react_virtualized_styles__FlexTable__rowColumn:first-of-type {
  margin-left: 10px;
}
._node_modules_react_virtualized_styles__FlexTable__sortableHeaderColumn {
  cursor: pointer;
}

._node_modules_react_virtualized_styles__FlexTable__sortableHeaderIconContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
._node_modules_react_virtualized_styles__FlexTable__sortableHeaderIcon {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24px;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

/* VirtualScroll default theme */

._node_modules_react_virtualized_styles__VirtualScroll {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
