<div id='description'></div>
<div id='chart' style='width: 98%; height: 600px;'></div>
<div id='months'></div>
Smoothing:
<input type='button' class='smooth' value='0' />
<input type='button' class='smooth' value='1' />
<input type='button' class='smooth' value='2' />
<input type='button' class='smooth' value='4' />
<input type='button' class='smooth' value='8' />
<input type='button' class='smooth' value='16' />
<input type='button' class='smooth' value='32' />
<input type='button' class='smooth' value='64' />
<input type='button' class='smooth' value='128' />
<input type='button' class='smooth' value='256' />
<input type='button' class='smooth' value='512' />
<input type='button' class='smooth' value='1024' />
<input type='button' class='smooth' value='2048' />
<input type='button' class='smooth' value='4096' />

<input type='hidden' id='refresh' value='Refresh!' />

<div id='list'></div>
